/* .home{
    height: 100vh;
    background: #f7f7f7;
} */

.navigationbar, .footer{
    height: 50px;
}

.create-card{
    height: calc(100vh - 100px);
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
}

.process-card-bg{
    background:#ffffff;
    /* background-image:  
    radial-gradient(at 69% 30%, hsla(316,100%,74%,1) 0, transparent 50%),  
    radial-gradient(at 99% 0%, hsla(117,100%,56%,1) 0, transparent 50%),  
    radial-gradient(at 0% 50%, hsla(283,85%,93%,1) 0, transparent 50%),  
    radial-gradient(at 82% 77%, hsla(268,100%,76%,1) 0, transparent 50%),  
    radial-gradient(at 0% 100%, hsla(310,100%,77%,1) 0, transparent 50%),  
    radial-gradient(at 80% 100%, hsla(170,100%,70%,1) 0, transparent 50%),  
    radial-gradient(at 0% 0%, hsla(271,100%,76%,1) 0, transparent 50%); */
}

.card-container{
    height: 320px;
    width: 500px;
    /* background: #FFCC00; */
    box-shadow: 5px 5px 20px 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition-duration: 0.5s;
}

.card-container:hover{
    transition-duration: 0.5s;
    box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.15);
}

/* .form-box{
    margin-top: -3rem;
} */

.country{
    width: 80%;
    margin-left: auto;
}

.card-side{
    width: 363px;
    height: 314px;
    /* background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15); */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding: 50px; */
    /* box-sizing: border-box;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15); */
}

.footer{
    position: absolute;
    bottom: 0;
}