.card-data{
    background: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
}
.section1, .section2{
    height: 320px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;
    align-items: flex-end; */
}

.card-category{
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin: 20px;
}

.card-image{
    width: 200px;
    height: 200px;
    /* margin: auto; */
    margin-left: 50px;
    border: #ffffff 3px solid;
}

.card-image img{
    width: 194px;
    height: 194px;
    object-fit: cover;
    /* margin: auto; */
}

.card-amount{
    margin: 20px;
}

.card-fiat{
    font-weight: normal;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.card-crypto{
    font-size: 14px;
    line-height: 16px;
}

.provider-img{
    background-color: none;
    margin: auto 20px 30px auto;
}

.provider-img img{
    width: 61px;
    height: 61px;
}