@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav {
      /* margin-left: 0; */
      padding: 10px;
      background:#000000;
      background-image:  
      radial-gradient(at 25% 23%, hsla(0,0%,10%,1) 0, transparent 51%),  
      radial-gradient(at 22% 57%, hsla(0,0%,0%,1) 0, transparent 58%),  
      radial-gradient(at 81% 19%, hsla(0,100%,13%,1) 0, transparent 49%),  
      radial-gradient(at 72% 19%, hsla(0,0%,0%,1) 0, transparent 56%),  
      radial-gradient(at 78% 88%, hsla(23,36%,16%,1) 0, transparent 44%);}
}
